*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image: url("https://wallpaper.dog/large/988025.jpg");
    font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*font-size: 16px;*/
    font-size: 16px;

    margin: 16px;
}

header {
    text-align: center;
}

h1 {
    color: rgb(207, 199, 253);
    margin: 16px;
    padding: 16px;
    display: inline;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: 4vw;
}

p {
    text-align: center;
    font-size: 2vw;
}

h2 {
    color: rgb(119, 255, 142); 
    font-size: 2vw;
    text-align: center;
    margin-top: 50px;
}

.list {
    color:rgb(172, 0, 29); 
    font-size: 2vw;
    margin: 2vw 0vw 0vw 45vw;
    
}
#myName {
    color: rgb(26, 4, 93); font-size: 5vw;
}
#descript {
    margin-top: 2vw;
    color: rgb(119, 255, 142); 
    font-size: 2vw;
}

#north {
    color: rgb(228, 42, 42);

}
#mug {
    margin-top: 5vw;
    margin-left: 25vw;
    border-radius: 5%;
    box-shadow: 12px 12px 12px slateblue;
}

ul, 
ol {
margin-left: 32px;
}